@charset "UTF-8";

:root {
    --color-0:  #fff;
    --color-1:  lightgreen;
}

div.button {
    color: var(--color-0);
    background-color: var(--color-1);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bolder 15pt arial;
    text-shadow: 1px 1px 1px black;
}

.button.active {
    background-color: yellow;
}

.mouseOn {
    background-color: blue !important;
}

.mouseOff {
    background-color: var(--color-1);
}